*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.laranja{
    background-color: orange;
    width: 400px;
    height: 300px;
    
    display: flex;
    justify-content: space-between;/* */
    align-items: center;

     
}

.verde{
    background-color: forestgreen;
    width: 400px;
    height: 300px;
}

.conteudo {
    margin: 0 auto;
    /* justify-content: space-between; espaça os elementos contidos no pai, de forma proporcional entre eles */
    /* justify-content: space-around;  espaça oos elementos contidos no elemento pai de forma individual. deixando uma margem dupla entre os elementos */
    display: flex; /* Aplicado ao elemento pai, e lateraliza todos os elementos filhos */
    justify-content: space-between; /* */

}

.preto{
    width: 100px;
    height: 100px;
    background-color: black;
}

.vermelho{
    width: 100px;
    height: 100px;
    background-color: red;
}
